[submodule "vim/pack/colors/start/catppuccin"]
	path = vim/pack/colors/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "vim/pack/colors/start/solarized"]
	path = vim/pack/colors/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
